@page "/todo/{TodoListId:guid}"
@using global::Todo.Application.DTOs


@inject TodoApiClient TodoApiClient

<h3>Todo List</h3>

@if (todoList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <section class="vh-100" style="background-color: #e2d5de;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">

                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">

                            <h6 class="mb-3">Awesome Todo List</h6>

                            <EditForm Model="TodoItemToAdd" Formname="add-task" OnSubmit="@AddTask" class="d-flex justify-content-center align-items-center mb-4">
                                <div data-mdb-input-init class="form-outline flex-fill">
                                    <InputText type="text" id="form3" class="form-control form-control-lg" @bind-Value="TodoItemToAdd.Title" placeholder="What do you need to do today?" />
                                </div>
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg ms-2">Add</button>
                            </EditForm>
                            <ul class="list-group mb-0">

                                @foreach (var item in EditableTodoItems)
                                {

                                    <li class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                                        <div class="d-flex align-items-center">
                                            <InputCheckbox class="form-check-input me-2" type="checkbox" @bind-Value="item.IsDone" aria-label="..." @onchange="@(e=> UpdateTodoItem(e, item))" />
                                            <InputText @bind-Value="item!.Title" @onchange="@(e=> UpdateTodoItem(e, item))" style="@(item.IsDone ? "text-decoration: line-through;":"")" />
                                        </div>
                                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger btn-sm ms-2" @onclick="@(e=> Delete(e, item.Id))">Delete</button>
                                    </li>

                                }
                            </ul>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
}

@code {
    private TodoListDto? todoList;
    private string? taskName;

    [SupplyParameterFromForm]
    private TodoItemDto TodoItemToAdd { get; set; } = new TodoItemDto();


    [SupplyParameterFromForm]
    private TodoItemDto[] EditableTodoItems { get; set; }


    [Parameter]
    public Guid TodoListId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        todoList = await TodoApiClient.GetTodoListAsync(TodoListId);
        EditableTodoItems = todoList.Items.ToArray();
    }

    private async Task AddTask()
    {
        if (string.IsNullOrWhiteSpace(TodoItemToAdd?.Title))
        {
            return;
        }

        TodoItemToAdd.Description = TodoItemToAdd.Title;

        // call the api
        await TodoApiClient.AddTodoItemAsync(todoList.Id, TodoItemToAdd);

        // Clear the task name
        taskName = null;

        // refresh the UI
        StateHasChanged();
    }

    private async Task Delete(MouseEventArgs e, Guid todoItemDtoId)
    {
        // call the api
        await TodoApiClient.DeleteTodoItemAsync(todoItemDtoId);

        // refresh the UI
        StateHasChanged();
    }


    private async Task UpdateTodoItem(ChangeEventArgs e, TodoItemDto todoItemDto)
    {
        // call the api
        await TodoApiClient.UpdateTodoItemAsync(todoList.Id, todoItemDto);

        // refresh the UI
        StateHasChanged();
    }
}
