@page "/todo"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject IDialogService DialogService
@inject TodoApiClient TodoApiClient
@inject NavigationManager Navigation

@rendermode InteractiveServer

@if (TodoListDtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudGrid>
        <MudItem xs="12" sm="12">
            <MudPaper Class="pa-4">
                <TodoListCreate Busy="Busy"
                                TodoListDto="newTodoList"
                                IsAdd="true"
                                CancelRequest="Cancel"
                                ValidationResult="@(async (success) => await CreateTodoListAsync(success))" />
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="12">
            <MudPaper Class="pa-4">
                <MudTable T="TodoListDto" Items="@TodoListDtos" Dense="false" Hover="false" Bordered="false" Striped="true" Filter="new Func<TodoListDto,bool>(FilterFuncDelegate)">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Periodic TodoListDtos</MudText>
                        <MudSpacer />
                        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>#</MudTh>
                        <MudTh>Title</MudTh>
                        <MudTh>Count</MudTh>
                        <MudTh>Actions</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd>@GetRowNumber(context)</MudTd>
                        <MudTd DataLabel="Sign" style="width: 60%;">@context.Title</MudTd>
                        <MudTd DataLabel="Name">@context.Items.Count</MudTd>
                        <MudTd>
                            <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="@(() => Navigation.NavigateTo($"/todo/{context.Id}"))">
                                View
                            </MudButton>
                            <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => { _openDeletePopOver = true; ItemToDelete = context.Id;})">Delete</MudButton>

                            <MudOverlay @bind-Visible="_openDeletePopOver" AutoClose="true" />
                            <MudPopover Open="@(_openDeletePopOver && context.Id == ItemToDelete)"
                                        AnchorOrigin="Origin.CenterRight"
                                        TransformOrigin="Origin.BottomRight"
                                        RelativeWidth="DropdownWidth.Ignore">

                                <div class="d-flex flex-column">
                                    <MudButtonGroup OverrideStyles="false">
                                        <MudButton OnClick="@(async result=> { await Cancel();})" Color="Color.Default" StartIcon="@Icons.Material.Outlined.Cancel">Cancel</MudButton>
                                        <MudButton OnClick="@(async result => { _openDeletePopOver = false; await DeleteAsync(ItemToDelete);})" Color="Color.Error" StartIcon="@Icons.Material.Outlined.Delete">Delete</MudButton>
                                    </MudButtonGroup>
                                </div>
                            </MudPopover>
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            </MudPaper>
        </MudItem>

    </MudGrid>
}

@code {
    private bool Busy;
    private string searchString = "";
    private List<TodoListDto> TodoListDtos = new List<TodoListDto>();
    private TodoListDto? newTodoList { get; set; } = new();

    // Delete logic
    private Guid ItemToDelete { get; set; }
    public bool _openDeletePopOver;

    protected override async Task OnInitializedAsync()
    {
        TodoListDtos = await TodoApiClient.GetTodoListsAsync();
    }

    private bool FilterFuncDelegate(TodoListDto TodoListDto) => FilterFunc(TodoListDto, searchString);

    private bool FilterFunc(TodoListDto TodoListDto, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (TodoListDto.Title.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    public int? GetRowNumber(object element) => TodoListDtos?.TakeWhile(x => x != element).Count();

    private async Task CreateTodoListAsync(bool success)
    {
        if (Busy)
        {
            return;
        }

        if (!success)
        {
            // still need to edit model
            // Error = false;
            // ConcurrencyError = false;
            return;
        }

        Busy = true;

        try
        {
            TodoListDto newDto = await TodoApiClient.CreateTodoListAsync(newTodoList);
            if (newDto != null)
            {
                TodoListDtos.Add(newDto);
            }
        }
        // catch (ApiException ex) when (ex.StatusCode == 409)
        // {
        //     ConcurrencyError = true;
        //     DbTodoItem = ex.GetContentAs<TodoItem>();
        // }
        // catch (ApiException ex)
        // {
        //     Error = true;
        //     ErrorMessage = ex.GetContentAs<string>();
        // }
        finally
        {
            Busy = false;
        }
    }

    private async Task Cancel()
    {
        newTodoList = null;
        _openDeletePopOver = false;
        ItemToDelete = Guid.Empty;
        this.TodoListDtos = await TodoApiClient.GetTodoListsAsync();
    }

    private async Task DeleteAsync(Guid id)
    {
        if (Busy)
        {
            // Avoid concurrent requests.
            return;
        }

        // call the api
        bool response = await TodoApiClient.DeleteTodoListAsync(id, new CancellationToken());

        if (response)
        {
            // refresh the UI
            TodoListDtos.RemoveAll(x => x.Id == id);
        }
    }
}
